# app
APP_BASE_URL=http://localhost:3000
CLIENT_BASE_URL=http://localhost:5173
UPLOAD_FOLDER=/uploads

# redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=
REDIS_DB=0
REDIS_TTL=3600
REDIS_MAX_RETRY=1

# mysql
DB_HOST=localhost       
DB_PORT=3306             
DB_NAME= 
DB_USER=root    
DB_PASSWORD= 

# jwt
JWT_SECRET_KEY=
JWT_EXPIRES_IN=1d

# Google OAuth 2.0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# MQTT Broker configuration
MQTT_BROKER_URL=
MQTT_USERNAME=
MQTT_PASSWORD=

# Payos
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=

# Mail
MAIL_USER=
MAIL_PASS=

# Vapid
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_CONTACT=

# Gemini API
GEMINI_API_KEY=
# GEMINI_MODEL=gemini-1.5-flash